.adminText {
    margin-left: 26%;
}

.sidebar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    padding: 24px;
  }