.searchButton {
    margin: 2%;
    margin-left: 40%;
    width: 200px;
}

.description {
    margin-left: -10%;
    list-style: none;
    line-height: 2;
    font-size: 11px;
}

.title {
    text-align: center;
    padding: 1%;
}

.select {
    width: 100%;
    border-color: 'red';
}

.label {
    font-weight: 550;
    font-size: 10;
}

.css-1ixj7yd-MuiGrid-root {
    height: none !important;
}


/* .selectBtn {
    float: right;
} */

/* .css-icc45o-MuiPaper-root-MuiPaper-root .css-m18s4g-MuiPaper-root-MuiPaper-root {
    box-shadow: 0 !important;
} */