<<<<<<< HEAD
#addButton {
    display: block;
    width: 120px;
    padding: 0.5rem;
    margin-left: 83vw;
=======
#buttonArea{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#adminButton {
    display: block;
    width: 120px;
    padding: 0.5rem;
>>>>>>> 156fc888c5d6617a68f8a1a74adb15d73cd18937
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}